<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<app-header></app-header>
<!-- <app-home></app-home> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-faq></app-faq> -->
<!-- <app-terms-conditions></app-terms-conditions> -->
<!-- <app-signup></app-signup> -->
<router-outlet> </router-outlet>

<!-- <app-signin></app-signin> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-add-new-hotel></app-add-new-hotel> -->
<!-- <app-view-hotel></app-view-hotel> -->
<!-- <app-view-room></app-view-room> -->
<!-- <app-view-tickets></app-view-tickets> -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <app-privacy-policy></app-privacy-policy> -->

<app-footer></app-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
